# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

#virtual environment
venv/
env/

#jupyter notebook checkpoints
.ipynb_checkpoints

#data and models (large file)
data/
models/

#OS files
.DS_Store
Thumbs.db

#IDE settings
.vscode/
.idea/